.ant-dropdown-hidden {
  display: none;
}

@media screen and (max-width: 680px) {
  .user-calendar-modal .ant-modal-confirm-content {
    margin-left: 0 !important;
  }
}
.antd-pro-header-dropdown-container {
  z-index: 2 !important;
}

input {
  font-size: 16px !important;
}

.ant-form-item-label {
  line-height: 1 !important;
}
